<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hi, I'm Asad Jamil</h1>
		<p>A student of University of Balochistan <br>
			Welcome to my blog.</p>
		<p>I built this blog application using the Ruby on Rails. It`s very simple to develope using rails. So Thanks to my beloved teacher Sir Dr.Abdul Basit for being our instructor as well as the inspiration.</p>
		<br>
		<p>If you'd like to follow me on <a href="http://facebook.com/asadmengal001">@facebook</a> click here.</p>
		<p>Wanna learn rails too.? Follow this course with <a href="https://sites.google.com/site/abdulbasitkhan/home/courses/web-engineering-1/handouts">@Dr.AbdulBasit</a> .</p>
	</div>
</div>